<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<Table>
  <button>
    <name>btnSubmit1</name>
    <text>Order is Ready</text>
  </button>
  <button>
    <name>btnSubmit2</name>
    <text>Order has an issue</text>
  </button>
  <button>
    <name>btnSubmit3</name>
    <text>Order 3</text>
  </button>
  <button>
    <name>btnSubmit4</name>
    <text>text 4</text>
  </button>
  <button>
    <name>btnSubmit5</name>
    <text>text 5</text>
  </button>
</Table>