<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AcckFilePrefix" value="MINACS.DDE.IFM"/>
  </appSettings>
  <connectionStrings>
    <!--  <add name="SQLConnectionStringLP" connectionString="Data Source=OSH-MXSQLRPT;Initial Catalog=ListProcess;User ID=Genesys_LP;Password=FH_l1stprocess"/> -->
    <add name="SQLConnectionStringLP" connectionString="Data Source=OSH-MXSQLDEV1\SQL2K12;Initial Catalog=ListProcess;User ID=Genesys_LP;Password=G3n3s1s"/>
    <!--<add name="SQLConnectionStringLP2" connectionString="Data Source=OSH-MXSQLDEV1\SQL2K12;Initial Catalog=MinacsCRMMBNA;User ID=Genesys_LP;Password=G3n3s1s" />-->
    <!--<add name="SQLConnectionStringDNC" connectionString="Data Source=OSH-MXSQLDEV1;Initial Catalog=DNS;User ID=DNS_appl;Password=dnsappl"/>
    <add name="SQLConnectionStringVC_RBH" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=RBH;User ID=rbh_tool_admin;Password=JuSt4CampT00l"/>
    <add name="SQLConnectionStringVC_NISSAN" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=Nissan;User ID=nissan_tool_admin;Password=N1s5aN@T00l"/>
    -->
    <!--<add name="SQLConnectionStringVC_GLM" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=GLM;User ID=glm_tool_admin;Password=Ba5d4C@to01"/>-->
    <!--
    <add name="SQLConnectionStringVC_GLM" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=GLM;User ID=vocalcom;Password=VocSql01"/>
    <add name="SQLConnectionStringVC_FCA" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=FCA;User ID=fca_tool_admin;Password=Y5Cqwuy#As"/>-->
    <!--<add name="SQLConnectionStringLP2" connectionString="Data Source=OSH-MXSQLDEV1\SQL2K12;Initial Catalog=MinacsCRMMBNA;User ID=Genesys_LP;Password=G3n3s1s" />-->
    <add name="SQLConnectionStringDNC" connectionString="Data Source=OSH-MXSQLDEV1;Initial Catalog=DNS;User ID=DNS_appl;Password=dnsappl"/>
    <add name="SQLConnectionStringVC_RBH" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=RBH;User ID=vocalcom;Password=VocSql01"/>
    <add name="SQLConnectionStringVC_NISSAN" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=Nissan;User ID=vocalcom;Password=VocSql01"/>
    <!--<add name="SQLConnectionStringVC_GLM" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=GLM;User ID=glm_tool_admin;Password=Ba5d4C@to01"/>-->
    <add name="SQLConnectionStringVC_GLM" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=GLM;User ID=vocalcom;Password=VocSql01"/>
    <add name="SQLConnectionStringVC_FCA" connectionString="Data Source=OSH-VOCALCLDB;Initial Catalog=FCA;User ID=vocalcom;Password=VocSql01"/>
  </connectionStrings>
  <system.web>
    <identity impersonate="true"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <sessionState timeout="20" mode="InProc"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <!--  <compilation debug="true">-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.SqlServer.ManagedDTS, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>